body {
  background-color: #d1d1d1;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 70px;
}

#header .title {
  display: flex;
  flex-direction: row;
}

#header .title h3 {
  padding-left: 5px;
}

#header .title img {
  width: 3em;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
}

.card {
  /* 卡片在容器裡的排版 */
  box-sizing: border-box;
  flex: 7% 1 1;
  height: 8vw;
  border: 1px solid #e0e0e0;
  margin: 2px;
  /* 卡片內部元素排版 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card img {
  max-width: 30%;
  align-self: center;
}

.card p {
  margin: 3px; /* 瀏覽器預設 縮小margin不讓數字超出*/
  font-size: 15px;
}

.card p:last-child {
  transform: rotate(180deg);
}

.back {
  background: url("https://img.stickers.cloud/packs/68493001-37b7-476e-b1b1-9143ad8fa245/webp/79582a15-c07d-40d3-9634-73791883ecd3.webp");
  background-size: cover;
}

.paired {
  background-color: whitesmoke;
}

.wrong {
  animation-name: wrongAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 5;
}

@keyframes wrongAnimation {
  100% {
    border: 2px solid white;
  }
}

/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}

.completed > p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}

.completed > p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}
